body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #7CB9E8;
    color: white;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    anime({
        targets: '.delay-demo .el',
        translateX: 250,
        delay: 1000
      });
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    background-color: #08a8f3;
    cursor: pointer;
    text-align: center;
}

.sidebar ul li:hover {
    background-color: #89CFF0;
}

.main-content {
    flex: 1;
    padding: 20px;
}

h2, h3 {
    margin-top: 0;
}

button {
    padding: 10px 20px;
    background-color: #12c4e4;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #89CFF0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-section {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
